@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  ================================== 
  Fonts
  ================================== 
*/
@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("../public/fonts/sansation/SansationBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-BlackItalic.woff') format('woff');
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../public/fonts/poppins/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

.menuFadeIn {
  opacity: 1;
  height: 100vh;
  transition: height 0.1s, opacity 0.2s;
}

.menuFadeOut {
  opacity: 0;
  width: 100vw;
  height: 0;
  transition: height 0.2s, opacity 0.1s;
}

/* 
  ================================== 
  Setting defaults on CMSable rich text typography 
  ================================== 
*/

/* 
  .prose is the class name assigned by tailwind that is applied to elements that displays
  CMSable HTML content

  see: https://tailwindcss.com/docs/typography-plugin
*/

/* Defaults on rich text headers */
.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4,
.prose > h5,
.prose > h6 {
  color: theme("colors.light-blue");
  margin-top: 1em;
}

/* Defaults on rich text ul, and ol bullets and numbers */
.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker,
.prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  color: theme("colors.light-blue");
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: theme("colors.link-blue");
  text-decoration: none;
}

/* See https://tailwindcss.com/docs/screens for breakpoint sizes */
/* For md and above */
@media only screen and (min-width: 768px) {
}

/* For lg and above */
@media only screen and (min-width: 1024px) {
}

a {
  @apply text-link-blue;
  &:hover {
    @apply text-light-blue;
  }
}

/* 
  ================================== 
  Class extensions
  ================================== 
*/
.card-block {
  img {
    @apply transition-all ease-in-out duration-200;
  }
  &:hover {
    img {
      @apply scale-125;
    }
  }
}
