@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  ================================== 
  Fonts
  ================================== 
*/

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-BlackItalic.woff') format('woff');
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/fonts/poppins/Poppins-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

.menuFadeIn {
  opacity: 1;
  transition: opacity 0.2s;
}

.menuFadeOut {
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.2s;
}

/* 
  ================================== 
  Setting defaults on CMSable markdown/HTML typography 
  ================================== 
*/

/* 
  .prose is the class name assigned by tailwind that is applied to elements that displays
  CMSable HTML content

  see: https://tailwindcss.com/docs/typography-plugin
*/

/* Defaults on headers */
.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4,
.prose > h5,
.prose > h6 {
  color: theme('colors.light-blue');
  font-weight: 600;
}

/* Defaults on ul, and ol bullets and numbers */
.prose :where(ul > li):not(:where([class~='not-prose'] *))::marker,
.prose :where(ol > li):not(:where([class~='not-prose'] *))::marker {
  color: theme('colors.light-blue');
}

.prose :where(a):not(:where([class~='not-prose'] *)) {
  color: theme('colors.link-blue');
  text-decoration: none;
}

// Adjust vertical spacing on paragraph elements (decreased from default of 1.25em)
.prose-base :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1em;
  margin-bottom: 1em;
}

// Adjust vertical spacing on paragraph elements that are immediately preceded by a heading element
.prose-base :where(h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p):not(:where([class~="not-prose"] *)) {
  margin-top: 0em;
  margin-bottom: 1em;
}

// Adjust vertical spacing on ul elements that are immediately preceded by a p element
.prose-base :where(p + ul):not(:where([class~="not-prose"] *)) {
  margin-top: 0em;
}

a {
  @apply text-link-blue;
  &:hover {
    @apply text-light-blue;
  }
}

.Notice {
  a {
    &:hover {
      @apply text-link-blue;
      text-decoration: underline;
    }
  }
}

/* 
  ================================== 
  Class extensions
  ================================== 
*/
.card-block {
  img {
    @apply transition-all ease-in-out duration-500;
  }
  &:hover {
    img {
      @apply scale-125;
    }
  }
}
